/* Descriptive Color Variables */
$cloud-grey:#f2f2f2;
$black:#000000;
$dark-grey:#8c8c8c;
$box-shadow-grey:#8c8c8c;
$tomato-red:#d35400;
$light-blue:#2980b9;
$blue:#2c3e50;
$purple:#46465e;
$yellow:#FFD000;
$light-orange:#FF9100;
$silver-grey:#d2d1d1;
$white:#fffcfc;
$light-grey:#DBDBDB;



/* Font Sizes */

$name-size:1.5em;
$title-size:13px;
$ftrName-size:1.1em;
$clearfix-size:0;
$intro-size-mbl:1.2em;
$intro-size-tab:1.7em;
$contact-p-size:1.5em;
$contact-li-size:1.3em;
$skillbar-title-size:13px;
$skillbar-percent-size:11px;
$contact-a-size:1.5em;

/*fonts*/
$primary-font: 'Open-Sans' , sans-serif;


/* Media Query Breakpoints */

$tablet-width: 768px;
$tablet-max: 1020px;
$desktop-width: 1024px;
